.review-card {
  border: solid 2px forestgreen;
  background-color: rgb(117, 245, 117);
  padding: 5px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  font-size: 15px;
}

@media (min-width: 800px) {
  .review-card {
    font-size: 18px;
  }
}

.review-card a {
  text-decoration-line: none;
}
