.signup-form {
  border: solid 2px;
  border-color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  background-color: rgb(12, 222, 12);
}
.signup-form label {
  font-size: 15px;
}

.signup-form input {
  width: 50%;
  margin: 5px;
  font-size: 15px;
}

@media (min-width: 800px) {
  .signup-form label {
    font-size: 18px;
  }

  .signup-form input {
    font-size: 18px;
  }
}
