.signup-form {
  border: solid 2px;
  border-color: black;
  padding: 10px;
  margin: 5px;
}
.signup-form label {
  font-size: 15px;
}

.signup-form input {
  width: 50%;
  margin: 5px;
  font-size: 15px;
}

@media (min-width: 800px) {
  .signup-form label {
    font-size: 18px;
  }

  .signup-form input {
    font-size: 18px;
  }
}
